.course-description {
  max-width: 1100px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding: 36px 40px 36px 40px;
  border-bottom: 1px solid @border_color;

  &__details {
    flex: 1;
    max-width: 770px;
  }

  &__title {
    font-size: 28px;
    font-weight: @font_weight_bold;
    line-height: 34.13px;
    margin-bottom: 30px;
  }

  &__text {
    margin-top: 22px;
    line-height: 20px;
  }

  &__image {
    width: 210px;
    border-radius: 8px;
  }
  // margin: 20px auto;
  //
  // border-radius: 16px;

  // &__details {
  //   flex: 1;
  //   margin-right: 20px;
  // }

  // &__title {
  //   font-size: 28px;
  //   font-weight: 600;
  //   line-height: 1.2;
  //   margin-bottom: 24px;
  //   color: var(--text-dark-color);
  // }

  // &__text {
  //   font-size: 16px;
  //   line-height: 1.5;
  //   color: var(--text-light-color);
  //   margin-bottom: 16px;
  // }

  // &__image {
  //   flex-shrink: 0;
  //   width: 300px;
  //   height: auto;

  //   img {
  //     width: 100%;
  //     height: auto;
  //     border-radius: 12px;
  //     box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  //   }
  // }
}
