.page-sidebar {
  position: fixed;
  max-width: 335px;
  width: 100%;
  box-sizing: border-box;

  top: 75px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;

  gap: 30px;

  @media @bw1340 {
    display: none;
  }

  &__button {
    padding: 30px 30px 0;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 22px;
    margin-bottom: 20px;
    line-height: 21.7px;
    height: 24px;
    padding: 0 30px;
  }

  &__active {
    display: block;
    background-color: white;
  }
}
