html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: @font_main;
  font-size: @font_size;
  color: @text_color;
}

a {
  outline: none;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
}
