html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: @font_main;
  font-size: @font_size;
  color: @text_color;
}

a {
  outline: none;
  text-decoration: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.6;
}
