//Размеры для адаптива
@bw370: ~'(max-width: 369px)';
@bw400: ~'(max-width: 399px)';
@bw500: ~'(max-width: 499px)';
@bw600: ~'(max-width: 599px)';
@bw650: ~'(max-width: 649px)';
@bw768: ~'(max-width: 767px)';
@bw960: ~'(max-width: 959px)';
@bw1020: ~'(max-width: 1019px)';
@bw1170: ~'(max-width: 1169px)';
@bw1340: ~'(max-width: 1339px)';
@bw1660: ~'(max-width: 1659px)';

// Цветовая палитра
@main_bg_color: #ffffff;
@app_bg_color: #f5f5f5;
@closed_task_bg_color: #e9f2ff99;
@sidebar_module_bg_color: #ecf1f880;
@sidebar_module_hover_color: #eef3fa;
@sidebar_task_hover_color: #e0e8f4;
@additional_teachers_hover: #f6faff;

@border_color: #dadde5;
@border_btn_mark_done_color: #acd9c1;

@progress_bg: #a2acbe33;
@progress_occupancy: #3c388d;

@scrollbar_color: #a2acbe;

@text_color: #2e3146;
@text_light_color: #71809b;
@text_btn_mark_color: #46495e;
@text_btn_mark_done_color: #0e8345;
@text_done: #0e8321;

// Шрифты
@font_main: 'Montserrat', sans-serif;
@font_size: 14px;
@font_weight_main: 400;
@font_weight_bold: 600;
